/* header */
header{
    display: flex;    
    justify-content: space-between;
    border-bottom: 1px solid;
}
.logo{
    width: 100px;
}
.sections ol{
    display: flex;
}
.sections li{
    list-style-type: none;
    padding: 20px;
}
.enroll{
    padding: 35px;
}
/* center */
.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.center img{
    width: 150px;
    height: 200px;
    padding: 10px;
    cursor: pointer;
}
.center span{
    display: none;
}
.photo-1:hover ~ div .sentence-1,
.photo-2:hover ~ div .sentence-2,
.photo-3:hover ~ div .sentence-3,
.photo-4:hover ~ div .sentence-4,
.photo-5:hover ~ div .sentence-5,
.photo-6:hover ~ div .sentence-6,
.photo-7:hover ~ div .sentence-7{
    display: block;
    padding: 10px;
}