/* parte 1 - links */
a:link, a:visited{
    color: black;
    text-decoration: none;
}
a:link[href="/the-one-ring"]{
    color: gold;
}
a:link[href="/melange"]{
    color: red;  
}
/* parte 2 - cit */
div.movies-quotes span span::after{
    content: '«';
}
div.movies-quotes span::after{
    content: '»';
}
div.movies-quotes span{
    font-style: italic;
}
div.movies-quotes span span{
    font-style: normal;
    font-weight: bold;
}
/* parte 3 - checkbox */

input[type=checkbox]:checked + span::after{
    content: '❤'; 
}
/* parte 4 - bottone */
button:hover{
    opacity: 0;
}